* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* navegação */


header {
    background-color: #3FA110;
    height: 100%;
    width: 20%;
    margin: 0;
    position: absolute;
    left: 0;
}

.img-be {
    border-radius: 50%;
    border: #D7E6C8 solid 5px;
    width: 75%;
    
}

.lista {
    list-style: none;
    padding: 3.125rem 0;
    margin-top: 40%;
}
.link {
    margin-top: 2rem;
    font-size: large;
    text-align: center;
}

a {
    color: white;
}
a:hover {
    opacity: 50%;
    text-decoration: none
}
a:link {
    text-decoration: none;
}

/* conteudo index */

#conteudo {
    background-color: #D7E6C8;
    height: 100%;
    width: 80%;
    margin: 0;
    position: absolute;
    right: 0;
}
article {
    margin-bottom: 2rem;
    margin-left: 4rem;
}

.email {
    color: #296c0a;
    font-size: 1rem;
}

.dados {
    position: relative;
    top: 10rem;
    width: 25rem;
}

.dados h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;

}

.descrição {
    position: relative;
    top: 12rem;
    width: 50rem;

}

.social {
    position: relative;
    top: 12rem;
    width: 50rem;
    
}

/* conhecimentos e objetivos */

#conhecimentos {
    width: 80%;
    height: 100%;
    background-color: #D7E6C8;
    float: right;
    
}

.sec {
    position: relative;
    top: 20%;
    list-style-type:lower-latin;
    padding: 12% 0 12% 10%;
}

.bolinha {
    position: relative;
    top: 20%;
    list-style-type:disc;
    padding: 18% 0 18% 5%;
}

.numeros {    /* conteudo */
    padding: 3%;
    font-size: 1.5rem;
    text-align: justify;
    width: 70%;
}

/* ------------FOOTER-------------------- */

footer {
    background-color: #3FA110;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}